:root {
    --grayish: #9fa9a3;
    --greenish: #c5d5c5;
    --tanish: #e3e0cc;
    --whiteish: #f0f0f0; 
}

/* -------nav bar------------------------ */
body{
    background-color: var(--greenish);
}

nav{
    display: flex;
    justify-content: space-between; 
    background-color: var(--grayish);
    padding: 50px;
    border-width: 10px;
    border-style: solid;
    border-color: black; 
}  
h1{
    font-size: 3rem;
    color: black;
}  
nav ul{
    font-size: large;
    margin-top: 15px;
    margin-right: 15px;
}
nav ul li {
    list-style: none;
    display: inline;
    margin-left: 10px;  
}
nav ul li a{
    text-decoration: none; 
    font-size: x-large;
    color: black;
} 
nav ul li a:hover{
    color: var(--whiteish) ;
}
#faceSize{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

/* -----------header2------------------------- */
h2{
    margin-top: 50px; 
    margin-bottom: 80px;
    margin-left: 50px;
    font-size: 2rem;
    font-style: italic; 
}
/* -----------sectioned ares: about, work, contact me------------------- */ 
.sectionArea{
    padding: 80px 0px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; 
}
.rightSideArea{
    width: 75%;
    border-left: #9fa9a3;
    border-width: 10px;
    border-style: none none none double;
    padding: 15px;;
} 
.leftSideArea{
    font-size: xx-large; 
    margin: auto; 
} 
.workGrid{
    display: flex; 
    flex-direction: column;
    flex-wrap: wrap;  
    position: relative;
    border: black;
    padding: 15px;
} 
//used for anchor
#aboutMe{
}
#work{
}
#contactMe{ 
}

#largeImage img{
    width: 100%; 
    min-width: 500px;
    height: 300px;
    align-items: center;
}

.align-center {
    align-items: center;
  }

.card{
    background-color: #9fa9a3;
    padding: 15px;
    border-radius: 15px;
} 
#contactMe ul li{
    list-style: none;
    display: inline;
    margin-left: 150px; 
    text-decoration: none;  

}
#contactMe ul li a{
    text-decoration: none;
    color: black;
    font-size: x-large;
    font-weight: 600;
}
#contactMe ul li a:hover{
    color: var(--whiteish);
}

@media screen and (max-width: 992px) {
    nav {
      width: 75%;
    }
   
  }

  @media screen and (max-width: 768px) {
    nav {
        width: 100%;
      }
     
  }
  

 